body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f07d01;
}

.music-player {
    background: #dda223d6;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 300px;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
}

#seek-bar, #volume-bar {
    width: 100%;
}

