body {
    font-family: Arial, sans-serif;
    background-color: #e4af0d;
}

.container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.coin {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
    border: 1px solid #0c0c0c;
    position: relative;
}

.heads {
    position: absolute;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    display: none;
}

.tails {
    position: absolute;
    color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    display: none;
}

#flip-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
