body {
    background: #e78f0b;}

    
.tab-buttons {
    display: flex;
    

}

.tab-button {
    background-color: #d7c3c3;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    height: 48px;
    border: 1px solid black;
}
    
.tab-button:hover {
    background-color: #d10b0b;
}
    
.tab{
    display: none;
    width: 78%;
    padding: 28px;
    background-color: #26c0ce;
}

.active-tab-button {
    background-color: #e1a1a1;
    transform: scateY(1.1);
    transform-origin: bottom;
}
